[submodule "Apps/TodoList"]
	path = Apps/TodoList
	url = https://github.com/Andreick/todo-list
[submodule "Apps/CoinConverter"]
	path = Apps/CoinConverter
	url = https://github.com/Andreick/coinconverter
[submodule "Demos/Database/SQLiteContactList"]
	path = Demos/Database/SQLiteContactList
	url = https://github.com/Andreick/SQLiteContactList
